        {% extends "healthier/base.html" %}
        {% block middle %}
        {% load static %}
        <section class="page-section h-100 bg-Caramel_mou background-main text-white">
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <h1>Mes aliments</h1>
                </div>
            </div>
        </section>
        <section class="page-section bg-primary text-white text-center">
            <div class="row row justify-content-center">
                {% if food_items != False %}
                {% for food in food_items %}
                <div class="col-sm-4 col-md-4 text-center mt-5 mb-5">
                    <img src="{{food.image_url}}" alt="{{food.name}}" class="food-item-img">
                    <h3><a class="text-dark space_top" href="{% url "healthier:fooditem" %}?food_id={{food.id}}">{{food.name}}</a>
                    </h3>
                </div>
                {% endfor %} 
                {% else %}
                <div class="col-sm-4 col-md-4 text-center">
                    <h2 class="text-dark">Pas d'aliments sauvegardés sur votre compte pour le moment !</h2>
                </div>
                {% endif %}
            </div>
        </section>
        {% endblock middle %}