{% extends "healthier/base.html" %}
{% block middle %}
{% load i18n static %}
        <!-- Masthead-->
        <header class="resulthead">
            <div class="row h-100 align-items-center text-center">
                <div class="col-lg-12">
                    {% if validlink %}
                    <h2 class="font-weight-bold">
                        Veuillez définir un nouveau mot de passe
                    </h2>
                    {% else %}
                    <h2 class="font-weight-bold">
                        Lien Invalide
                    </h2>
                    {% endif %}
                    <hr class="divider my-4" />
                </div>
            </div>
        </header>
        <section class="page-section text-white bg-moules-frites text-center">
                <div class="col text-center">
                    {% if validlink %}

                    <h3>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h3>
                    <form method="post" class='justify-content-center mx-sm-3 form-inline nav-search'>{% csrf_token %}
                        <div class="col-12 text-center mt-5">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1"><H4>{% trans 'New password:' %}</H4></label>
                            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" class='ml-1 textinput textInput form-control'>
                        </div>
                        <div class="col-12 text-center mt2">
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2"><H4>{% trans 'Confirm password:' %}</H4></label>
                            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class='ml-1 textinput textInput form-control'>
                        </div>
                        <div class="col-12 text-center mt-2">
                        <input type="submit" value="Modifier" class=" btn btn-primary">
                        </div>
                    </form>

                    {% else %}

                    <h4>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                    </h4>
                    {% endif %}
        </section>
{% endblock middle %}