{% extends "healthier/base.html" %}
{% block middle %}
{% load i18n static %}
        <!-- Masthead-->
        <header class="resulthead">
            <div class="row h-100 align-items-center text-center">
                <div class="col-lg-12">
                    <h3 class="font-weight-bold">{% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
                    </h3>
                    <hr class="divider my-4" />
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section text-white bg-moules-frites text-center">
                <div class="col text-center">
                    <h4>{% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</h4>
                </div>
        </section>
{% endblock middle %}