{% extends "healthier/base.html" %}
{% block middle %}
{% load i18n static %}
        <!-- Masthead-->
        <header class="resulthead">
            <div class="row h-100 align-items-center text-center">
                <div class="col-lg-12">
                    <h2 class="font-weight-bold">Mot de passe perdu {{user_name}} ?</h2>
                    <hr class="divider my-4" />
                    <h2 class="font-weight-bold">Pas de soucis !</h2>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section text-white bg-moules-frites text-center">
                <div class="col text-center">
                    <h4>Rentrez l'e-mail de votre compte ci-dessous, nous vous envoyons aussitôt un e-mail pour le réinitialiser</h4>
                </div>    
                <div class="col text-center mt-5">
                    <form method="post"  class='justify-content-center mx-sm-3 form-inline nav-search'>{% csrf_token %}
                                {{ form.email.errors }}
                                <input type="email" name="email" placeholder='votre e-mail' autocomplete="email" maxlength="254" required="" id="id_email" class='ml-1 textinput textInput form-control'>
                            <input type="submit" value="Réinitialiser" class=" btn btn-primary">
                        
                    </form>
                </div>
        </section>
{% endblock middle %}