{% extends "healthier/base.html" %}
{% block middle %}
{% load static %}
<!-- Masthead-->
<header class="masthead">
        <div class="row h-100 align-items-center text-center">
            <div class="col-lg-6">
                <h1 class="font-weight-bold">Créer un compte</h1><br>
                <h1 class="text-uppercase font-weight-bold">Se connecter</h1>
                <hr class="divider my-4" />
            </div>
        </div>
</header>
<!-- Formulaire de connexion / login-->

{% endblock middle %}