[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"
pylint = "*"
django-debug-toolbar = "*"
v = {editable = true,version = "*"}

[packages]
django = "*"
psycopg2 = "*"
requests = "*"
django-crispy-forms = "*"
django-heroku = "*"
gunicorn = "*"
django-debug-toolbar = "*"
coverage = "*"
sentry-sdk = "*"
whitenoise = "*"
selenium = "*"

[requires]
python_version = "3.7"
