// Variables

//- Override and add to color system

$orange: hsl(13, 89%, 59%) !default;
$brown: rgb(92, 77, 66) !default;
$rooibos_chocolat: rgb(196, 85, 37);
$moules-frites: #345a61;
$bonbon_rigolo: rgb(132, 235, 230);
$Caramel_mou: rgb(222, 148, 64);
$Biscuit_trempe: rgb(232, 167, 93);


//- Override primary color
$primary: $rooibos_chocolat !default;
$dark: #000;

//- Override font system
$font-family-sans-serif: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-family-serif: "Scope One", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-family-base: $font-family-serif !default;
$headings-font-family: $font-family-sans-serif !default;

//- Add custom variables
$navbar-height: 4.5rem !default;
